<div class="row container-custom ">
    <div class="col-md-6 m-auto ">
        <div class=" card-body text-center text-black ">
            <i><i class="fab fa-node-js fa-3x"></i></i>
            <h1><img src="/images/Poly.png" class="rounded mx-auto d-block" alt="FPTLogo"></h1>
            <h1>Wellcome Oder Food App</h1>
            <p>Create an account or login</p>
            <a href="/login" class="btn btn-secondary btn-block btn-custom">Login</a>
           <h3> You do not have an account??? registered <a href="/register" style="color: brown; font-size: 40px;" >here</a> </h3>
        </div>
    </div>
</div>